@using Bookish_v2.Models
@model AddBookViewModel

@{
    ViewData["Title"] = "AddBook";
}

<h1 class="text-danger">Add a New Book</h1>

    <h2>Add a book to the catalogue . . .</h2>
    <form asp-controller="Books" asp-action="AddBook" method="post" >
    <label>
        <p>Title</p>
        <input id="Title" type=text name="Title" required/>
    </label>

    <label>
        <p>Author</p>
        <input id="Author" type=text name="Author" required/>
    </label>

    <label>
        <p>Number of Copies</p>
        <input id="AddCopies" type=number name="AddCopies"/>
    </label>
    <button type="submit" id="submit">Submit</button>
    </form>



         





  