@model BookViewModel

@{
    ViewData["Title"] = "EditBook";
}
<h1 class="text-danger">Edit Book Details</h1>

<form asp-controller="Books" asp-action="EditBook" method="post" asp-route-id="@Model.BookID">
    
    <label>
        <p>Title</p>
        <input id="Title" type="text" name="Title" value="@Model.Title"  />
    </label>

    <label>
        <p>Author</p>
        <input id="Author" type=text name="Author" value="@Model.Author"/>
    </label>

    <label>
        <p>Add/Remove Copy</p>
        <input id="TotalCopies" type="number" name="TotalCopies" value="@Model.TotalCopies" min="0" />
    </label>
    <button type="submit" id="submit">Edit</button>
    </form>

